absl-py==2.2.0
amqp==5.3.1
Authlib==1.5.2
bcrypt==4.3.0
billiard==4.2.1
blinker==1.9.0
celery==5.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==3.1.1
colorama==0.4.6
cryptography==44.0.2
et_xmlfile==2.0.0
Farama-Notifications==0.0.4
Flask==3.1.0
Flask-MySQL==1.6.0
Flask-SQLAlchemy==3.1.1
fuzzywuzzy==0.18.0
greenlet==3.1.1
gunicorn==23.0.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.1.1
h5py==3.13.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
keras==3.9.0
kombu==5.5.3
Levenshtein==0.27.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml_dtypes==0.5.1
namex==0.0.8
numpy==2.2.4
opencv-python==4.11.0.86
openpyxl==3.1.5
optree==0.14.1
packaging==24.2
pandas==2.2.3
pillow==11.2.1
prompt_toolkit==3.0.51
pycparser==2.22
pygame==2.6.1
Pygments==2.19.1
PyMySQL==1.1.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-Levenshtein==0.27.1
pytz==2025.1
RapidFuzz==3.13.0
redis==6.0.0
requests==2.32.3
rich==13.9.4
scipy==1.15.2
six==1.17.0
SQLAlchemy==2.0.39
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.1.3
